:host {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: black;
  box-sizing: border-box;
  color: white;
}

.upper,
.lower {
  padding: 6px;
}

.upper {
  font-weight: bold;
  display: flex;
  padding: 10px 6px 6px;
}

.logo {
  margin-right: 6px;
  width: 16px;
}

.logo-span {
  width: 16px;
  height: 16px;
  background-image: url("media/logo.jpg");
}

.lower {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: space-between;
}
